html{    
    font-family: 'Lora', serif;  
    font-size: 28px; 
}
// Heading Text h)
h1{
    font-family: 'Fredoka One', cursive;
    font-size: 90px;
    line-height: 92px;    
    letter-spacing: 15px;
    text-transform: uppercase;
    margin: 0;
}
// Heading Text
h2, h3, h4{
    font-weight: bold;    
    letter-spacing: 1px;
    margin: 0;
    text-transform: uppercase;
}
// Heading Text ()
h2{    
    font-size: 42px;     
}
//Heading Text )
h3{
    font-size: 32px;
}
//Heading Text ()
h4{
    font-size: 24px;
}

p{
    letter-spacing: 0px;
    margin: 0;
    line-height: 60px;
}

